https://signate.jp/competitions/141

In [221]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

## 観光宿泊者学習データ
全8国立公園（阿寒摩周国立公園、十和田八幡平国立公園、日光国立公園、伊勢志摩国立公園、
大山隠岐国立公園、阿蘇くじゅう国立公園、霧島錦江湾国立公園、慶良間諸島国立公園）の2015/01/01～2016/12/31までの観光宿泊者数データ。

In [257]:
df_train = pd.read_csv('../data/raw/train.tsv',sep='\t')
print('-- 行・列数 --')
print(df_train.shape)
print('------------')
print('-- カラム --')
print(df_train.columns)
print('------------')
print('-- データの概要 --')
print(df_train.info())
print('------------')
print('-- 欠損値の数 --')
print(df_train.isnull().sum())
print('------------')
print('-- 要約統計量 --')
print(df_train.describe())
print('------------')

-- 行・列数 --
(5848, 3)
------------
-- カラム --
Index(['datetime', 'park', 'visitors'], dtype='object')
------------
-- データの概要 --
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5848 entries, 0 to 5847
Data columns (total 3 columns):
datetime    5848 non-null object
park        5848 non-null object
visitors    5848 non-null int64
dtypes: int64(1), object(2)
memory usage: 137.1+ KB
None
------------
-- 欠損値の数 --
datetime    0
park        0
visitors    0
dtype: int64
------------
-- 要約統計量 --
           visitors
count   5848.000000
mean    7186.736149
std     8791.087517
min        0.000000
25%      346.000000
50%     4214.500000
75%    11103.750000
max    87008.000000
------------

In [209]:
df_train.head(16)

      datetime        park  visitors
0   2015-01-01    阿寒摩周国立公園     11028
1   2015-01-01  十和田八幡平国立公園     34757
2   2015-01-01      日光国立公園     29714
3   2015-01-01    伊勢志摩国立公園     42652
4   2015-01-01    大山隠岐国立公園      3637
5   2015-01-01  阿蘇くじゅう国立公園      1369
6   2015-01-01   霧島錦江湾国立公園     35352
7   2015-01-01   慶良間諸島国立公園       151
8   2015-01-02    阿寒摩周国立公園     11153
9   2015-01-02  十和田八幡平国立公園     33795
10  2015-01-02      日光国立公園     27011
11  2015-01-02    伊勢志摩国立公園     47035
12  2015-01-02    大山隠岐国立公園      3244
13  2015-01-02  阿蘇くじゅう国立公園      1643
14  2015-01-02   霧島錦江湾国立公園     29856
15  2015-01-02   慶良間諸島国立公園       657

In [ ]:
伊勢志摩国立公園、日光国立公園、霧島錦江湾国立公園の訪問者数が多い

In [263]:
# Feature engineering from datetime
# https://adtech.cyberagent.io/techblog/archives/259
# https://note.nkmk.me/python-pandas-datetime-timestamp/
df_train['datetime'] = pd.to_datetime(df_train['datetime']) # dtypeをdatetime64に変換
df_train['year'] = df_train['datetime'].dt.year
df_train['month'] = df_train['datetime'].dt.month
df_train['day'] = df_train['datetime'].dt.day
df_train['dayofweek'] = df_train['datetime'].dt.dayofweek
df_train.head()

    datetime  park  visitors  year  month  day  dayofweek
0 2015-01-01     0     11028  2015      1    1          3
1 2015-01-01     1     34757  2015      1    1          3
2 2015-01-01     2     29714  2015      1    1          3
3 2015-01-01     3     42652  2015      1    1          3
4 2015-01-01     4      3637  2015      1    1          3

In [265]:
## categorize park column
labels, uniques = pd.factorize(df_train['park'])
df_train['park'] = labels
df_train.head(16)

     datetime  park  visitors  year  month  day  dayofweek
0  2015-01-01     0     11028  2015      1    1          3
1  2015-01-01     1     34757  2015      1    1          3
2  2015-01-01     2     29714  2015      1    1          3
3  2015-01-01     3     42652  2015      1    1          3
4  2015-01-01     4      3637  2015      1    1          3
5  2015-01-01     5      1369  2015      1    1          3
6  2015-01-01     6     35352  2015      1    1          3
7  2015-01-01     7       151  2015      1    1          3
8  2015-01-02     0     11153  2015      1    2          4
9  2015-01-02     1     33795  2015      1    2          4
10 2015-01-02     2     27011  2015      1    2          4
11 2015-01-02     3     47035  2015      1    2          4
12 2015-01-02     4      3244  2015      1    2          4
13 2015-01-02     5      1643  2015      1    2          4
14 2015-01-02     6     29856  2015      1    2          4
15 2015-01-02     7       657  2015      1    2          4

In [115]:
# visitor数降順
df_train.sort_values('visitors',ascending=False)

        datetime        park  visitors
3907  2016-05-03    伊勢志摩国立公園     87008
3915  2016-05-04    伊勢志摩国立公園     84174
3891  2016-05-01    伊勢志摩国立公園     64150
2915  2015-12-31    伊勢志摩国立公園     60708
2907  2015-12-30    伊勢志摩国立公園     58852
3906  2016-05-03      日光国立公園     57547
2931  2016-01-02    伊勢志摩国立公園     57421
987   2015-05-04    伊勢志摩国立公園     56153
979   2015-05-03    伊勢志摩国立公園     55704
5843  2016-12-31    伊勢志摩国立公園     54754
5842  2016-12-31      日光国立公園     53065
2923  2016-01-01    伊勢志摩国立公園     53003
5835  2016-12-30    伊勢志摩国立公園     52694
3914  2016-05-04      日光国立公園     52149
2899  2015-12-29    伊勢志摩国立公園     51089
982   2015-05-03   霧島錦江湾国立公園     50854
990   2015-05-04   霧島錦江湾国立公園     50691
3882  2016-04-30      日光国立公園     49215
2102  2015-09-20   霧島錦江湾国立公園     49149
3899  2016-05-02    伊勢志摩国立公園     48993
2099  2015-09-20    伊勢志摩国立公園     48858
5010  2016-09-18      日光国立公園     47799
5834  2016-12-30      日光国立公園     47261
3874  2016-04-29      日光国立公園     47058
2107  2015-09-21    伊勢志摩国立公園     47043
11    2015-01-02    伊勢志摩国立公園     47035
2115  2015-09-22    伊勢志摩国立公園     46913
5178  2016-10-09      日光国立公園     46021
2110  2015-09-21   霧島錦江湾国立公園     45813
19    2015-01-03    伊勢志摩国立公園     45368
...          ...         ...       ...
2999  2016-01-10   慶良間諸島国立公園         0
927   2015-04-26   慶良間諸島国立公園         0
3143  2016-01-28   慶良間諸島国立公園         0
591   2015-03-15   慶良間諸島国立公園         0
2567  2015-11-17   慶良間諸島国立公園         0
3007  2016-01-11   慶良間諸島国立公園         0
2855  2015-12-23   慶良間諸島国立公園         0
5559  2016-11-25   慶良間諸島国立公園         0
287   2015-02-05   慶良間諸島国立公園         0
285   2015-02-05  阿蘇くじゅう国立公園         0
2527  2015-11-12   慶良間諸島国立公園         0
284   2015-02-05    大山隠岐国立公園         0
5367  2016-11-01   慶良間諸島国立公園         0
919   2015-04-25   慶良間諸島国立公園         0
1351  2015-06-18   慶良間諸島国立公園         0
3175  2016-02-01   慶良間諸島国立公園         0
1349  2015-06-18  阿蘇くじゅう国立公園         0
2503  2015-11-09   慶良間諸島国立公園         0
1343  2015-06-17   慶良間諸島国立公園         0
1335  2015-06-16   慶良間諸島国立公園         0
2991  2016-01-09   慶良間諸島国立公園         0
3631  2016-03-29   慶良間諸島国立公園         0
1327  2015-06-15   慶良間諸島国立公園         0
2511  2015-11-10   慶良間諸島国立公園         0
2519  2015-11-11   慶良間諸島国立公園         0
279   2015-02-04   慶良間諸島国立公園         0
3167  2016-01-31   慶良間諸島国立公園         0
1295  2015-06-11   慶良間諸島国立公園         0
1287  2015-06-10   慶良間諸島国立公園         0
2863  2015-12-24   慶良間諸島国立公園         0

[5848 rows x 3 columns]

日付ごとの平均 visitor数は、GWと年末年始が多い
単純に休日フラグをつけたデータが欲しいかも

In [113]:
# 日付ごとの平均 visitor数
df_train.groupby('datetime').mean().sort_values('visitors',ascending=False)

             visitors
datetime
2016-05-03  28594.375
2015-05-03  25773.000
2016-12-31  25520.750
2016-05-04  25445.875
2015-05-04  25400.750
2015-12-31  25056.875
2015-09-20  23663.000
2015-09-21  22938.625
2016-01-01  21294.500
2016-12-30  20249.250
2015-12-30  19862.500
2015-01-01  19832.500
2015-05-02  19802.625
2015-09-22  19731.000
2016-04-30  19361.375
2015-01-02  19299.250
2016-01-02  19119.750
2016-09-18  18785.250
2016-05-01  18637.750
2015-05-05  18637.375
2016-03-20  18321.500
2016-04-29  17942.250
2015-10-11  17615.500
2016-07-17  17395.500
2015-07-19  17301.875
2016-10-09  17133.000
2016-03-19  17118.875
2016-08-13  16932.125
2016-08-14  16874.500
2016-07-30  16868.250
...               ...
2015-12-01   2918.750
2016-02-04   2918.375
2015-01-16   2897.750
2016-01-07   2892.000
2015-12-15   2882.500
2015-04-07   2869.000
2015-12-02   2855.375
2016-12-20   2850.375
2015-01-28   2849.000
2015-02-04   2829.250
2015-07-09   2808.125
2016-02-03   2789.875
2015-01-26   2778.000
2015-02-05   2771.750
2015-07-01   2765.250
2016-12-21   2729.125
2015-01-20   2721.375
2015-01-27   2664.250
2015-12-09   2656.125
2015-12-08   2642.250
2016-01-19   2580.625
2016-01-21   2566.875
2015-07-08   2510.375
2015-01-29   2479.250
2015-01-14   2453.500
2015-01-08   2433.750
2015-12-16   2427.750
2015-01-13   2371.250
2015-01-22   2100.875
2015-01-21   2073.125

[731 rows x 1 columns]

## 予測対象データ（test.tsv）
全8国立公園（阿寒摩周国立公園、十和田八幡平国立公園、日光国立公園、伊勢志摩国立公園、大山隠岐国立公園、阿蘇くじゅう国立公園、霧島錦江湾国立公園、慶良間諸島国立公園）の2017/01/01～2017/12/31までの予測対象データ。  
予測対象なのでtrainデータと異なり、visitorsカラムが無い。
  
※indexは予測結果投稿時に必要となります。応募用サンプルファイルの説明もご参照ください。

In [333]:
print(df_test.info())

df_test = pd.read_csv('../data/raw/test.tsv',sep='\t')
df_test['datetime'] = pd.to_datetime(df_test['datetime']) # dtypeをdatetime64に変換
df_test['year'] = df_test['datetime'].dt.year
df_test['month'] = df_test['datetime'].dt.month
df_test['day'] = df_test['datetime'].dt.day
df_test['dayofweek'] = df_test['datetime'].dt.dayofweek

labels, uniques = pd.factorize(df_test['park'])
df_test['park'] = labels
df_test.head(16)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2920 entries, 0 to 2919
Data columns (total 7 columns):
index        2920 non-null int64
datetime     2920 non-null datetime64[ns]
park         2920 non-null int64
year         2920 non-null int64
month        2920 non-null int64
day          2920 non-null int64
dayofweek    2920 non-null int64
dtypes: datetime64[ns](1), int64(6)
memory usage: 159.8 KB
None

    index   datetime  park  year  month  day  dayofweek
0       0 2017-01-01     0  2017      1    1          6
1       1 2017-01-01     1  2017      1    1          6
2       2 2017-01-01     2  2017      1    1          6
3       3 2017-01-01     3  2017      1    1          6
4       4 2017-01-01     4  2017      1    1          6
5       5 2017-01-01     5  2017      1    1          6
6       6 2017-01-01     6  2017      1    1          6
7       7 2017-01-01     7  2017      1    1          6
8       8 2017-01-02     0  2017      1    2          0
9       9 2017-01-02     1  2017      1    2          0
10     10 2017-01-02     2  2017      1    2          0
11     11 2017-01-02     3  2017      1    2          0
12     12 2017-01-02     4  2017      1    2          0
13     13 2017-01-02     5  2017      1    2          0
14     14 2017-01-02     6  2017      1    2          0
15     15 2017-01-02     7  2017      1    2          0

## SNSデータ（hotlink.tsv）
観光及び国立公園に関連する語句が含まれる投稿の2015/01/01～2017/12/30までの日別件数（ブログ・twitter・掲示板）データ。

In [49]:
df_hotlink = pd.read_csv('../data/raw/hotlink.tsv',sep='\t')
print(df_hotlink.shape)
df_hotlink.head()

(144540, 4)

     datetime            domain keyword  count
0  2015-01-01  twitter_sampling    国立公園    148
1  2015-01-01              blog  アオウミガメ     11
2  2015-01-01  twitter_sampling  アオウミガメ      1
3  2015-01-01               bbs  阿波連岬園地      0
4  2015-01-01              blog  阿波連岬園地      0

## ロケーション付SNSデータ（nightley.tsv）
日光国立公園区画内のSNSロケーション解析データ投稿数データ。  
※１ 本データは日光国立公園区画内のみ含まれています。  
※２ データ期間は2016/01/01～2017/12/30までです。

日本人と外国人のカウント数がある。

In [24]:
df_nightley = pd.read_csv('../data/raw/nightley.tsv',sep='\t')
df_nightley.head()

     datetime  Japan_count  Foreign_count
0  2016-01-01           28              0
1  2016-01-02           66              1
2  2016-01-03           75              6
3  2016-01-04           50              1
4  2016-01-05           25              0

## メッシュ型流動人口データ（agoop.zip）
各国立公園付近エリア単位の「平均人口」の集計値データ。zipファイル内には100mメッシュ集計データ、100mメッシュIDデータ、都道府県・市区町村マスタの3種類のデータが同封されています。

100mメッシュ集計データ（month_time_mesh100m_YYYYMM.tsv, 201501～201711までの全35ファイル）
※流動人口数が1人未満の場合はデータが出力されていませんのでご注意ください。

In [26]:
df_pop_city_2015 = pd.read_csv('../data/raw/agoop/city_2017.tsv',sep='\t')
df_pop_city_2015.head()

   prefcode prefecture  citycode    cwtv    address
0         1        北海道      1000     NaN        北海道
1         1        北海道      1100     札幌市     北海道札幌市
2         1        北海道      1101  札幌市中央区  北海道札幌市中央区
3         1        北海道      1102   札幌市北区   北海道札幌市北区
4         1        北海道      1103   札幌市東区   北海道札幌市東区

In [27]:
df_pop_mesh100m_2015 = pd.read_csv('../data/raw/agoop/mesh100m_2015.tsv',sep='\t')
df_pop_mesh100m_2015.head()

,mesh100mid,loncenter,latcenter,lonmax,latmax,lonmin,latmin,prefcode,citycode
0,39271198141,127.226875,26.162083,127.22750,26.162500,127.22625,26.161667,47,47354
1,39271198203,127.235625,26.158750,127.23625,26.159167,127.23500,26.158333,47,47354
2,39271198210,127.231875,26.159583,127.23250,26.160000,127.23125,26.159167,47,47354
3,39271198212,127.234375,26.159583,127.23500,26.160000,127.23375,26.159167,47,47354
4,39271198214,127.236875,26.159583,127.23750,26.160000,127.23625,26.159167,47,47354

In [28]:
df_pop_month_time_mesh100m_201502 = pd.read_csv('../data/raw/agoop/month_time_mesh100m_201502.tsv',sep='\t')
df_pop_month_time_mesh100m_201502.head()

       park   mesh100mid  year  month  dayflag  hour  population
0  伊勢志摩国立公園  51362368112  2015      2        1    21           2
1  伊勢志摩国立公園  51362368112  2015      2        2    21           1
2  伊勢志摩国立公園  51362368212  2015      2        1    16          33
3  伊勢志摩国立公園  51362368212  2015      2        1    17          36
4  伊勢志摩国立公園  51362368212  2015      2        1    18          36

## 国別月別来訪者数集計データ
十和田八幡平、日光、阿寒摩周、伊勢志摩国立公園周辺の国籍別・月単位での来訪者数集計データ。  
※１ 本データには上記４つの国立公園周辺のデータのみ含まれています。  
※２ データ期間は2016年1月～2017年11月までとなります。  
※３ countが1以上10未満の値の場合は「1-9」という値となっています。

★どこの国の来訪者が多いか調べて、日本人の来訪者数と比較する  
多いところを予測するのが良さそう  
中国の大型連休などに合わせて来訪者が増えそう

In [96]:
df_colopl = pd.read_csv('../data/raw/colopl.tsv',sep='\t')
# countが1-9の場合、0を入れる。それ以外はそのまま。 ここ本当は9ではなく何を代入すればいいか考える
df_colopl['count'] = [0 if i=='1-9' else i for i in df_colopl['count']] 
df_colopl['count'] = df_colopl['count'].astype('int64')
print(df_colopl.shape)
print(df_colopl.describe())
print(df_colopl.info())
df_colopl.head(30)

(1701, 5)
              year        month        count
count  1701.000000  1701.000000  1701.000000
mean   2016.485009     6.403292     4.822457
std       0.499922     3.139627    14.812165
min    2016.000000     1.000000     0.000000
25%    2016.000000     4.000000     0.000000
50%    2016.000000     6.000000     0.000000
75%    2017.000000     9.000000     0.000000
max    2017.000000    12.000000   145.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1701 entries, 0 to 1700
Data columns (total 5 columns):
year          1701 non-null int64
month         1701 non-null int64
park          1701 non-null object
country_jp    1701 non-null object
count         1701 non-null int64
dtypes: int64(3), object(2)
memory usage: 66.5+ KB
None

    year  month        park   country_jp  count
0   2016      1    阿寒摩周国立公園      アメリカ合衆国      0
1   2016      1    阿寒摩周国立公園       シンガポール      0
2   2016      1    阿寒摩周国立公園        マレーシア      0
3   2016      1    阿寒摩周国立公園           中国      0
4   2016      1    阿寒摩周国立公園           台湾     19
5   2016      1    阿寒摩周国立公園        朝鮮、南部      0
6   2016      1    阿寒摩周国立公園      香港(PRC)     12
7   2016      1  十和田八幡平国立公園      アメリカ合衆国      0
8   2016      1  十和田八幡平国立公園      オーストラリア      0
9   2016      1  十和田八幡平国立公園        ノルウェー      0
10  2016      1  十和田八幡平国立公園         ベトナム      0
11  2016      1  十和田八幡平国立公園           台湾      0
12  2016      1  十和田八幡平国立公園        朝鮮、南部      0
13  2016      1  十和田八幡平国立公園           英国      0
14  2016      1  十和田八幡平国立公園      香港(PRC)      0
15  2016      1      日光国立公園      アメリカ合衆国      0
16  2016      1      日光国立公園         イタリア      0
17  2016      1      日光国立公園       インドネシア      0
18  2016      1      日光国立公園      オーストラリア      0
19  2016      1      日光国立公園       シンガポール      0
20  2016      1      日光国立公園       スウェーデン      0
21  2016      1      日光国立公園           タイ     17
22  2016      1      日光国立公園          ドイツ      0
23  2016      1      日光国立公園        フィリピン      0
24  2016      1      日光国立公園  ブルネイ・ダルサラーム      0
25  2016      1      日光国立公園        ポーランド      0
26  2016      1      日光国立公園        マレーシア      0
27  2016      1      日光国立公園         メキシコ      0
28  2016      1      日光国立公園           中国      0
29  2016      1      日光国立公園           台湾     59

In [108]:
# 国ごとの来訪者数平均を多い順に
df_colopl.groupby('country_jp').mean().sort_values('count', ascending=False)['count']

country_jp
台湾             36.413043
アメリカ合衆国        19.402174
タイ             17.177215
香港(PRC)         5.466667
スペイン            4.090909
フランス            2.844444
ドイツ             2.654545
オーストラリア         2.608108
イタリア            2.593750
英国              2.276923
シンガポール          2.050633
マレーシア           0.835821
インドネシア          0.794872
中国              0.743902
オランダ            0.617647
ブラジル            0.434783
フィリピン           0.423077
メキシコ            0.416667
スイス             0.371429
ルーマニア           0.000000
ベラルーシ           0.000000
ベトナム            0.000000
ブルネイ・ダルサラーム     0.000000
ブルガリア           0.000000
南アフリカ           0.000000
再結合(フランス)       0.000000
ロシア連邦           0.000000
フィンランド          0.000000
パレスチナ           0.000000
朝鮮、南部           0.000000
                 ...
ウクライナ           0.000000
インド             0.000000
イラン             0.000000
イスラエル           0.000000
アルバニア           0.000000
アルゼンチン共和国       0.000000
アルジェリア          0.000000
アラブ首長国連邦        0.000000
キプロス            0.000000
クウェート           0.000000
ノルウェー           0.000000
クロアチア           0.000000
ネパール            0.000000
ニュージーランド        0.000000
アイルランド          0.000000
デンマーク           0.000000
チリ              0.000000
チェコ共和国          0.000000
セルビア(共和国、の)     0.000000
スロヴァキア          0.000000
スロベニア           0.000000
スリランカ           0.000000
スウェーデン          0.000000
ジブラルタル(英国)      0.000000
サウジアラビア         0.000000
コロンビア           0.000000
コスタリカ           0.000000
ケニア             0.000000
グアテマラ           0.000000
トルコ             0.000000
Name: count, Length: 93, dtype: float64

# 気象庁データ（weather.tsv）
国立公園周辺12地点の気象観測データ。

In [33]:
df_weather = pd.read_csv('../data/raw/weather.tsv',sep='\t')
df_weather.head()

,年月日,地点,平均気温(℃),最高気温(℃),最低気温(℃),降水量の合計(mm),10分間降水量の最大(mm),日照時間(時間),合計全天日射量(MJ/㎡),最深積雪(cm),...,最多風向(16方位),平均蒸気圧(hPa),平均現地気圧(hPa),平均湿度(%),平均海面気圧(hPa),最小相対湿度(%),最低海面気圧(hPa),平均雲量(10分比),天気概況(昼:06時~18時),天気概況(夜:18時~翌日06時)
0,2015/1/1,十和田,-1.9,0.3,-2.9,5.0,1.0,2.1,NaN,18.0,...,西南西,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015/1/2,十和田,-3.9,-1.1,-8.0,0.0,0.0,3.3,NaN,17.0,...,西北西,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015/1/3,十和田,-4.0,-1.6,-8.9,2.0,0.5,1.4,NaN,21.0,...,西南西,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015/1/4,十和田,0.6,3.4,-1.6,0.0,0.0,2.6,NaN,19.0,...,南西,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015/1/5,十和田,0.8,5.4,-5.1,0.0,0.0,4.0,NaN,14.0,...,西南西,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 積雪気象観測データ（nied_oyama.tsv）
防災科学技術研究所 ⼤⼭鏡ヶ成積雪気象観測施設における積雪気象観測データ。  
緯度経度35°20′21″ 133°34′51″  
標高：875m

In [34]:
df_nied_oyama = pd.read_csv('../data/raw/nied_oyama.tsv',sep='\t')
print(df_train.shape)
print(df_train.columns)
df_nied_oyama.head()

                    日時  積雪深(cm)  積雪深重量(kg m^-2)  気温(℃)  降水量(mm h-1)
0  2015-01-01 00:00:00     99.3           305.1   -4.8          1.0
1  2015-01-01 01:00:00    101.9           308.3   -4.8          1.0
2  2015-01-01 02:00:00    102.5           310.3   -5.3          0.0
3  2015-01-01 03:00:00    101.8           310.6   -5.5          0.0
4  2015-01-01 04:00:00    101.9           311.1   -6.1          0.5

## 路線検索データ（jorudan.zip）
ジョルダンの路線検索ログデータ。

In [36]:
df_train = pd.read_csv('../data/raw/jorudan.tsv',sep='\t')
print(df_train.shape)
print(df_train.columns)
df_train.head()

,access_date,access_time,departure_and_arrival_type,departure_and_arrival_date,departure_and_arrival_time,departure_and_arrival_place_type,park,departure_prefecture,arrival_prefecture
0,2015-01-02,17:19:52,D,2015-01-03,06:44,D,日光国立公園,栃木県,神奈川
1,2015-01-02,15:16:57,A,2015-01-03,06:40,D,日光国立公園,栃木県,神奈川
2,2015-01-02,15:17:22,D,2015-01-03,06:40,D,日光国立公園,栃木県,神奈川
3,2015-01-02,15:35:05,D,2015-01-03,06:40,D,日光国立公園,栃木県,神奈川
4,2015-01-02,17:07:22,D,2015-01-03,07:57,D,日光国立公園,栃木県,神奈川

## 応募用サンプルファイル（sample_submit.tsv）
1列目の値はtest.tsvの"index"に対応した値であり、2列目が"index"に対応する予測値となります。ヘッダ無しtsv形式で投稿ください。

In [316]:
df_sample_submit = pd.read_csv('../data/raw/sample_submit.tsv',sep='\t')
df_sample_submit.head()

   0  53822
0  1  48553
1  2  40052
2  3   1524
3  4  10759
4  5  57010

In [281]:
# 
df_holiday = pd.read_csv('../data/holiday.csv')
df_holiday['datetime'] = pd.to_datetime(df_holiday['datetime'])
df_holiday.columns

Index(['datetime', 'holiday'], dtype='object')

In [312]:
# 学習データと休日データの結合
df_merged = pd.merge(df_train,df_holiday,on='datetime')
df_merged

       datetime  park  visitors  year  month  day  dayofweek  holiday
0    2015-01-01     0     11028  2015      1    1          3        1
1    2015-01-01     1     34757  2015      1    1          3        1
2    2015-01-01     2     29714  2015      1    1          3        1
3    2015-01-01     3     42652  2015      1    1          3        1
4    2015-01-01     4      3637  2015      1    1          3        1
5    2015-01-01     5      1369  2015      1    1          3        1
6    2015-01-01     6     35352  2015      1    1          3        1
7    2015-01-01     7       151  2015      1    1          3        1
8    2015-01-02     0     11153  2015      1    2          4        0
9    2015-01-02     1     33795  2015      1    2          4        0
10   2015-01-02     2     27011  2015      1    2          4        0
11   2015-01-02     3     47035  2015      1    2          4        0
12   2015-01-02     4      3244  2015      1    2          4        0
13   2015-01-02     5      1643  2015      1    2          4        0
14   2015-01-02     6     29856  2015      1    2          4        0
15   2015-01-02     7       657  2015      1    2          4        0
16   2015-01-03     0     12343  2015      1    3          5        1
17   2015-01-03     1     17114  2015      1    3          5        1
18   2015-01-03     2     22247  2015      1    3          5        1
19   2015-01-03     3     45368  2015      1    3          5        1
20   2015-01-03     4      1927  2015      1    3          5        1
21   2015-01-03     5       967  2015      1    3          5        1
22   2015-01-03     6     27027  2015      1    3          5        1
23   2015-01-03     7       126  2015      1    3          5        1
24   2015-01-04     0      6732  2015      1    4          6        1
25   2015-01-04     1      9306  2015      1    4          6        1
26   2015-01-04     2     12236  2015      1    4          6        1
27   2015-01-04     3     34960  2015      1    4          6        1
28   2015-01-04     4       880  2015      1    4          6        1
29   2015-01-04     5       324  2015      1    4          6        1
...         ...   ...       ...   ...    ...  ...        ...      ...
5818 2016-12-28     2     20949  2016     12   28          2        0
5819 2016-12-28     3     23283  2016     12   28          2        0
5820 2016-12-28     4       726  2016     12   28          2        0
5821 2016-12-28     5        58  2016     12   28          2        0
5822 2016-12-28     6     13179  2016     12   28          2        0
5823 2016-12-28     7       170  2016     12   28          2        0
5824 2016-12-29     0      7330  2016     12   29          3        0
5825 2016-12-29     1     21067  2016     12   29          3        0
5826 2016-12-29     2     39924  2016     12   29          3        0
5827 2016-12-29     3     41033  2016     12   29          3        0
5828 2016-12-29     4      1834  2016     12   29          3        0
5829 2016-12-29     5       500  2016     12   29          3        0
5830 2016-12-29     6     19334  2016     12   29          3        0
5831 2016-12-29     7       810  2016     12   29          3        0
5832 2016-12-30     0     10232  2016     12   30          4        0
5833 2016-12-30     1     26276  2016     12   30          4        0
5834 2016-12-30     2     47261  2016     12   30          4        0
5835 2016-12-30     3     52694  2016     12   30          4        0
5836 2016-12-30     4      1490  2016     12   30          4        0
5837 2016-12-30     5      1018  2016     12   30          4        0
5838 2016-12-30     6     22213  2016     12   30          4        0
5839 2016-12-30     7       810  2016     12   30          4        0
5840 2016-12-31     0     17027  2016     12   31          5        1
5841 2016-12-31     1     41620  2016     12   31          5        1
5842 2016-12-31     2     53065  2016     12   31          5        1
5843 2016-12-31     3     54754  2016     12   31          5        1
5844 2016-12-31     4      2862  2016     12   31          5        1
5845 2016-12-31     5      1386  2016     12   31          5        1
5846 2016-12-31     6     32600  2016     12   31          5        1
5847 2016-12-31     7       852  2016     12   31          5        1

[5848 rows x 8 columns]

In [185]:
import pandas as pd
from sklearn.cross_validation import train_test_split
import math
import numpy as np
from sklearn.metrics import classification_report, roc_auc_score, precision_recall_curve, auc, roc_curve
import xgboost as xgb
from sklearn.grid_search import GridSearchCV

In [332]:
df_except_y = df_merged.drop(['visitors','datetime'], axis=1)
X_train = df_except_y.as_matrix() # Whta is this?
y_train = df_merged['visitors'].as_matrix() # 目的変数に "y" を利用
df_except_y.head()

array([11028, 34757, 29714, ...,  1386, 32600,   852])

In [324]:
df_test_merged = pd.merge(df_test,df_holiday,on='datetime')
df_test_merged = df_test_merged.drop(['datetime','index'], axis=1)
X_test = df_test_merged.as_matrix()
df_test_merged.head()

   park  year  month  day  dayofweek  holiday
0     0  2017      1    1          6        1
1     1  2017      1    1          6        1
2     2  2017      1    1          6        1
3     3  2017      1    1          6        1
4     4  2017      1    1          6        1

In [331]:
params = {"learning_rate":[0.1,0.3,0.5],
        "max_depth": [2,3,5,10],
         "subsample":[0.5,0.8,0.9,1],
         "colsample_bytree": [0.5,1.0],
         }

# モデルにインスタンス生成
model = xgb.XGBRegressor()
cv = GridSearchCV(model,params,cv=10,n_jobs=-1)

array([[   0, 2015,    1,    1,    3,    1],
       [   1, 2015,    1,    1,    3,    1],
       [   2, 2015,    1,    1,    3,    1],
       ...,
       [   5, 2016,   12,   31,    5,    1],
       [   6, 2016,   12,   31,    5,    1],
       [   7, 2016,   12,   31,    5,    1]])

In [308]:
# 予測モデルを作成
cv.fit(X_train, y_train)

GridSearchCV(cv=10, error_score='raise',
       estimator=XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1),
       fit_params={}, iid=True, n_jobs=-1,
       param_grid={'learning_rate': [0.1, 0.3, 0.5], 'max_depth': [2, 3, 5, 10], 'subsample': [0.5, 0.8, 0.9, 1], 'colsample_bytree': [0.5, 1.0]},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=0)

In [309]:
# predict
y_train_pred = cv.predict(X_train)
y_test_pred = cv.predict(X_test)

In [338]:
submit = pd.DataFrame({
    '':df_test['index'],
    '':y_test_pred})
submit.to_csv('../submit/submit.tsv',sep='\t')

In [339]:
submit = pd.DataFrame({
    '':df_train,
    '':y_train_pred})
submit.to_csv('../submit/validation.csv')

In [357]:
df = pd.read_csv('../submit/submit_2.csv',index_col=0)
df

           10313.23
0
1.0     24170.57000
2.0     32503.21000
3.0     46129.73000
4.0      1406.22000
5.0       645.75000
6.0     23568.56000
7.0       877.77000
8.0      9738.62000
9.0     22452.64000
10.0    29293.54000
11.0    46844.77000
12.0     1732.36000
13.0      913.42000
14.0    20786.72000
15.0      204.60000
16.0     8350.68000
17.0     6998.74000
18.0    21079.99000
19.0    36363.79000
20.0     1206.11000
21.0      622.18000
22.0    10713.89000
23.0      279.46000
24.0     5736.80000
25.0     6519.22000
26.0    16137.09000
27.0    34590.04000
28.0     1019.36000
29.0      455.20000
30.0     9231.49000
...             ...
2890.0  15469.16900
2891.0  27625.34600
2892.0    213.44203
2893.0   -302.85083
2894.0  16173.11000
2895.0  -1025.72520
2896.0   8114.08700
2897.0  20435.37500
2898.0  39359.22300
2899.0  47189.05000
2900.0   1906.91810
2901.0   1267.84120
2902.0  22904.09000
2903.0    878.54650
2904.0  13117.11200
2905.0  33397.13700
2906.0  50817.74200
2907.0  57222.68800
2908.0   3228.56600
2909.0   2986.23070
2910.0  31265.01600
2911.0   2551.94530
2912.0  15146.76300
2913.0  29524.26600
2914.0  42348.71500
2915.0  49246.29000
2916.0   2911.47020
2917.0   2630.17380
2918.0  28124.34800
2919.0   2032.85230

[5840 rows x 1 columns]

In [ ]:
df.to_csv('../submit/submit_2.tsv',sep='\t')